@model Babloos.Models.UserInfo

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-sm-8 col-sm-offset-2">
        <h2>Change Password</h2>
        <hr />
        @Html.ValidationSummary(true)

        <span style="color:green;">@ViewBag.MsgSuccess</span>
        <span style="color:red;">@ViewBag.MsgWrong</span>

        @Html.HiddenFor(model => model.Id, new { Value = ViewBag.UserId })

        <div class="form-group">
            <label for="OldPassword" class="control-label col-sm-4">Old Password</label>
            <div class="col-sm-8">
                <input type="password" name="OldPassword" id="OldPassword" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="control-label col-sm-4">Confirm Password</label>
            <div class="col-sm-8">
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="submit" value="Change" class="btn btn-danger btn-lg" /> | @Html.ActionLink("Home", "Index", "Home")
            </div>
        </div>
    </div>
}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>activePageMenu(4);</script>

