@model Babloos.Models.UserInfo

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-sm-8 col-sm-offset-2">
        <h2>Register</h2>
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @*@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })*@
                <select id="Title" name="Title" class="form-control">
                    <option>Mr.</option>
                    <option>Mrs.</option>
                    <option>Miss.</option>
                </select>
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlternativePhone, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.AlternativePhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AlternativePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address1, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address2, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        @Html.HiddenFor(model => model.IsActive, new { Value = true})
        @Html.HiddenFor(model => model.CreationDate, new { Value = DateTime.Now})
        @Html.HiddenFor(model => model.UserType, new { Value = 1});

        @*<div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreationDate, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CreationDate)
                    @Html.ValidationMessageFor(model => model.CreationDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserType, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserType)
                    @Html.ValidationMessageFor(model => model.UserType)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="submit" value="Register" class="btn btn-danger btn-lg" /> | @Html.ActionLink("Home", "Index", "Home")
            </div>
        </div>
    </div>
}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>activePageMenu(4);</script>