@model Babloos.Models.Order

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalAmount = 0;
}

<h2>Order Details</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer Information</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.OrderDate, new { Value=DateTime.Now})
        @Html.HiddenFor(model => model.DeliveryDate, new { Value = DateTime.Now })

        <div class="row">
            <div class="col-sm-6" id="check_out">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @*@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })*@
                        <select id="Title" name="Title" class="form-control">
                            <option @(Model.Title == "Mr." ? "selected": "")>Mr.</option>
                            <option @(Model.Title == "Mrs." ? "selected" : "")>Mrs.</option>
                            <option @(Model.Title == "Miss." ? "selected" : "")>Miss.</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber, "Phone Number", new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MobileNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address1, new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address1)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address2, new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address2)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        <select id="City" name="City" class="form-control" required>
                            <option>Jhang</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryOption, "Delivery Option", new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        <select id="DeliveryOption" name="DeliveryOption" class="form-control" required>
                            <option selected disabled>-- select --</option>
                            <option>Home Delivery</option>
                            <option>Take Away</option>
                            <option>Dining</option>
                        </select>
                        @*@Html.TextBoxFor(model => model.DeliveryOption, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.DeliveryOption)
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.DeliveryDate, "Delivery Date", new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.DeliveryDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DeliveryDate)
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Instructions, new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Instructions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Instructions)
                    </div>
                </div>

                @Html.HiddenFor(model => model.OrderStatus, new { Value = "delivered" })

                @*<div class="form-group">
                    @Html.LabelFor(model => model.OrderStatus, "Option Status", new { @class = "control-label col-md-3 col-sm-offset-1" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.OrderStatus, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrderStatus)
                    </div>
                </div>*@
            </div>
            <div class="col-sm-6">
                <div class="cart"></div>
                @*<table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <td>Image</td>
                            <td>Name</td>
                            <td>Qty</td>
                            <td>Unit Price</td>
                            <td>Amount</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody class="cartItem">
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td><img src="@item.ImagePath" height="50" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>
                                    <button class="btn btn-danger btn-sm checkout_remove"><span class="glyphicon glyphicon-remove-sign"></span> Remove</button>
                                    @Html.HiddenFor(modelItem => item.MenuItemId)
                                </td>
                            </tr>
                            totalAmount = totalAmount + item.Amount;
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>*@
            </div>
        </div>

       @Html.HiddenFor(model => model.TotalAmount, new { Value=totalAmount})

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Checkout" class="btn btn-danger btn-lg btn_checkout" /> | @Html.ActionLink("More Order", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>activePageMenu(2);</script>
